.select2-container--default {


    .select2-search--dropdown {
        .select2-search__field {
            border: 1px solid #aaa;
        }
    }

    .select2-results__option {

        &[aria-disabled=true] {
            color: #999;
        }

        &[aria-selected=true] {
            background-color: #ddd;
        }

    }

    .select2-results__option--highlighted[aria-selected] {
        background-color: $primary;
        color: white;
    }
}


